
.cardColor {
    background: linear-gradient(to left, #fcebff, #fff5ea) !important;
}

.btnColorCard {
    background-color: #E484A2 !important;
}

.btnHover:hover {
    background-color: #B9B4D9 !important;
}

.navColor {
    background-color: #BA3A47 !important;
}

.bg-custom-color {
    background-color: #BA3A47 !important;
}

.letraFuente {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 1%;
}

.precio-input {
    display: flex;
    align-items: center;
}

.precio-input span {
    margin-right: 1%;
}

.precio-input input {
    width: 50%;
    min-width: 20%;
    margin: 0 1%;
    margin-left: 1%;
}

.tamanven {
    width: 100%;
}

@media (max-width: 768px) {
    .precio-input {
        flex-direction: column;
    }

    .precio-input span {
        margin-bottom: 5%;
    }

    .precio-input input {
        margin: 2% 0;
    }
}

.configbus button {
    margin-left: 1%;
}

.Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
}
