ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

.custom-active-bg {
    background-color: rgba(255, 219, 219, 0.7);
    color: white;
}
body{ 
    background-image: url(http://localhost/prueba/PWCI/img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.letraFuente {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background-color: #7b2362;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #dd5a5a;

}

/* Estilos generales para todo el cuerpo de la página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Estilos para el contenido principal */
.container {
    flex: 1;
    /* Aquí puedes agregar margen, padding u otros estilos necesarios */
}

/* Estilos para el footer */
.Footer {
    background-color: #343a40; /* Color de fondo del footer */
    color: white; /* Color del texto del footer */
    text-align: center;
    padding: 10px; /* Espaciado interior del footer */
}