ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

.custom-active-bg {
    background-color: rgba(255, 219, 219, 0.7);
    color: white;
}
body{ 
    background-image: url(http://localhost/prueba/PWCI/img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.letraFuente {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff; /* Cambia esto al color deseado */
    text-align: center;
    padding: 10px;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background-color: #7b2362;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #dd5a5a;

}