ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

body{
    background: linear-gradient(to left, #F2AFA0, #F2CEA2);
}

.vproducto{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-color: rgba(255, 219, 219, 0.7);
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.vproducto h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Bradley Hand, cursive;
}