
.cardColor {
    background: linear-gradient(to left, #fcebff, #fff5ea) !important;
}

.btnColorCard {
    background-color: #E484A2 !important;
}

.btnHover:hover {
    background-color: #B9B4D9 !important;
}

.navColor {
    background-color: #BA3A47 !important;
}

.bg-custom-color {
    background-color: #BA3A47 !important;
}

.letraFuente {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 1%;
}

.precio-input {
    display: flex;
    align-items: center;
}

.precio-input span {
    margin-right: 1%;
}

.precio-input input {
    width: 50%;
    min-width: 20%;
    margin: 0 1%;
    margin-left: 1%;
}

.tamanven {
    width: 100%;
}

@media (max-width: 768px) {
    .precio-input {
        flex-direction: column;
    }

    .precio-input span {
        margin-bottom: 5%;
    }

    .precio-input input {
        margin: 2% 0;
    }
}


.configbus button {
    margin-left: 1%;
}

.datos_usuario {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-color: rgba(255, 219, 219, 0.7);
    border-radius: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Bradley Hand, cursive;
}

.datos_usuario h1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}


.badge.rounded-pill {
    font-size: 100%;
    padding: 5% 8%;
}

.MlisUno {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.MlisUno img {
    max-width: 100%;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.overlay p {
    font-size: 16px;
    margin: 0;
}

.MlisUno .img-container {
    position: relative;
    max-width: 100%;
    display: block;
}

.posder {
    float: right;
}

.listas{
    font-family: Bradley Hand, cursive;
}

.listas h1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.listas h3 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background-color: #dd5a5a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7b2362;
}

.hovlist{
    text-decoration: none;
    color: black;
}

.hovlist:hover{
    cursor: pointer;
}