.vendedor_general{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-image: url(http://localhost/prueba/PWCI/img/vendedor/vendedor.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

textarea {
    width: 60%; 
    padding: 10px;
    border: 1px solid #ccc;
    resize: none; 
}

.menupri{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menupri h1{
    font-family: Bradley Hand, cursive;
}

.productocard{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.productocard:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.vendeprin{
    text-align: center;
    padding-bottom: 20px;
}

.vendeprin h1{
    font-family: Bradley Hand, cursive;
}