.bg-custom-color {
    background-color: #BA3A47 !important;
}

.letraFuente {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cardColor {
    background: linear-gradient(to left, #fcebff, #fff5ea) !important;
}

.btnColorCard {
    background-color: #E484A2 !important;
}

.btnHover:hover {
    background-color: #B9B4D9 !important;
}

.fixed-image {
    width: 300px;
    /* Cambia este valor al ancho deseado */
    height: 500px;
    /* Cambia este valor al alto deseado */
    object-fit: cover;
    align-items: center;
}

.fixed-card {
    width: 350px;
    /* Debe ser igual o mayor que el ancho de la imagen */
    height: 600px;
    /* Cambia este valor según tu diseño */
}

.info-box {
    background-color: #ffe4e4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.info-label {
    font-weight: bold;
    color: #bc3f6d;
    /* Cambia el color según tu preferencia */
    margin-right: 10px;
}

body {
    background-image: url(http://localhost/prueba/PWCI/img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.transparent-bg {
    background-color: #855a8572;
    /* Adjust the last value (0.9) for the desired transparency level  #5944428e*/
}

.heart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.heart-icon {
    color: rgb(75, 108, 110);
    font-size: 30px;
    transition: color 0.3s;
}

.heart-icon:hover {
    color: red;
    transform: scale(1.2);
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 1%;
}

.precio-input {
    display: flex;
    align-items: center;
}

.precio-input span {
    margin-right: 1%;
}

.precio-input input {
    width: 50%;
    min-width: 20%;
    margin: 0 1%;
    margin-left: 1%;
}

.tamanven {
    width: 100%;
}

@media (max-width: 768px) {
    .precio-input {
        flex-direction: column;
    }

    .precio-input span {
        margin-bottom: 5%;
    }

    .precio-input input {
        margin: 2% 0;
    }
}

.star {
    font-size: 15px;
    color: #B9B4D9;
    transition: color o.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: gold;
}

.rating {
    display: flex;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}